@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400;1,600&display=swap);

:root { 
  --bs-font-sans-serif: "Montserrat Alternates", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  

}

body {
  background-color: rgb(34, 30, 30);
  font-family: var(--bs-font-sans-serif);
  color: antiquewhite;
}

h5, h6, p {
  margin: 2px;
  padding: 2px;
}

.headContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.headItems{
  margin: 2px;
}
 

@media screen and (min-width: 420px) {
  .headContainer{
      flex-direction: row;
  }
  
  .headItems{
    margin: 10px;
  }

}